
@define-color fg_active #000000;
@define-color fg_insensitive #7f7f79;
@define-color fg_normal #000000;
@define-color fg_prelight #000000;
@define-color fg_selected #ffffff;

@define-color bg_active #d4d4ce;
@define-color bg_insensitive #efebdf;
@define-color bg_normal #efebdf;
@define-color bg_prelight #efebdf;
@define-color bg_selected #0055ef;

@define-color base_active #e5e5e5;
@define-color base_insensitive #efebdf;
@define-color base_normal #ffffff;
@define-color base_prelight #efebdf;
@define-color base_selected #0055ef;

@define-color text_active #000000;
@define-color text_insensitive #000000;
@define-color text_normal #000000;
@define-color text_prelight #000000;
@define-color text_selected #ffffff;

* {
    engine: xfce;

    -xfce-smooth-edge: true;

    -GtkButton-default-border        : 0;
    -GtkButton-default-outside-border: 0;
    -GtkWidget-focus-line-width      : 1;
    -GtkWidget-focus-padding         : 0;
    -GtkCheckButton-indicator-size   : 15;
    -GtkMenuBar-shadow-type          : out;
    -GtkRange-slider-width           : 15;
    -GtkRange-stepper-size           : 15;
    -GtkRange-stepper-spacing        : 0;
    -GtkRange-trough-border          : 0;
    -GtkScrollbar-min-slider-length  : 20;
    -GtkToolbar-shadow-type          : out;
    -GtkWidget-interior-focus        : true;

    border-width: 2px 2px;

    color: @fg_normal;
    background-color: @bg_normal;
    border-color: darker(@bg_normal);
}

*:active {
    color: @fg_active;
    background-color: @bg_active;
    border-color: darker(@bg_active);
}

*:insensitive {
    color: @fg_insensitive;
    background-color: @bg_insensitive;
    border-color: darker(@bg_insensitive);
    text-shadow: 1px 1px white;
}

*:hover {
    color: @fg_prelight;
    background-color: @bg_prelight;
    border-color: darker(@bg_prelight);
}

*:selected {
    color: @fg_selected;
    background-color: @bg_selected;
    border-color: darker(@bg_selected);
}

.view, .entry {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);

    border-width: 1px 1px;
}

.view:active, .entry:active {
    color: @text_active;
    background-color: @base_active;
    border-color: darker(@bg_normal);
}

.view:insensitive, .entry:insensitive {
    color: @text_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_normal);
}

.view:hover, .entry:hover {
    color: @text_prelight;
    background-color: @base_prelight;
    border-color: darker(@bg_normal);
}

.view:selected, .entry:selected {
    color: @text_selected;
    background-color: @base_selected;
    border-color: darker(@bg_normal);
}

.view row:nth-child(odd) {
    background-color: shade(@base_normal, 0.93);
}

.view row:nth-child(odd):active {
    background-color: shade(@base_active, 0.93);
}

.view row:nth-child(odd):insensitive {
    background-color: shade(@base_insensitive, 0.93);
}

.view row:nth-child(odd):hover {
    background-color: shade(@base_prelight, 0.93);
}

.view row:nth-child(odd):selected {
    background-color: shade(@base_selected, 0.93);
}

GtkCalendar {
    color: @text_normal;
}

.header {
    color: @fg_normal;
}

GtkCalendar:active {
    color: @text_active;
}

GtkCalendar:insensitive {
    color: @text_insensitive;
}

GtkCalendar:hover {
    color: @text_prelight;
}

GtkCalendar:selected {
    color: @text_selected;
}

.highlight {
    color: @text_active;
    background-color: @base_active;
}

GtkCalendar:inconsistent {
    color: mix(lighter(@bg_normal), darker(@bg_normal), 0.5);
}

GtkCalendar:selected {
    color: @text_active;
    background-color: @base_active;
}

.check, .radio {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:active, .radio:active {
    color: @text_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:insensitive, .radio:insensitive {
    color: @text_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_insensitive);
}

.check:hover, .radio:hover {
    color: @text_prelight;
    background-color: @base_prelight;
    border-color: darker(@bg_prelight);
}

.check:selected, .radio:selected {
    color: @text_active;
    background-color: @base_active;
    border-color: darker(@bg_active);
}

.check:inconsistent, .radio:inconsistent {
    color: @fg_normal;
    background-color: @base_normal;
    border-color: darker(@bg_normal);
}

.check:insensitive:inconsistent, .radio:insensitive:inconsistent {
    color: @fg_insensitive;
    background-color: @base_insensitive;
    border-color: darker(@bg_insensitive);
}

.cell {
    color: @text_normal;
}

.cell:active {
    color: @text_active;
}

.cell:insensitive {
    color: @text_insensitive;
}

.cell:hover {
    color: @text_prelight;
}

.cell:selected {
    color: @text_selected;
}

.spinbutton.button {
    color: @fg_normal;
    background-color: @bg_normal;
}

.spinbutton.button:active {
    color: @fg_active;
    background-color: @bg_active;
}

.spinbutton.button:insensitive {
    color: @fg_insensitive;
    background-color: @bg_insensitive;
}

.spinbutton.button:hover {
    color: @fg_prelight;
    background-color: @bg_prelight;
}

.spinbutton.button:selected {
    color: @fg_selected;
    background-color: @bg_selected;
}

.progressbar {
    color: #ffffff;
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#0055ef, 0.9)), to(shade(#0055ef, 1.1)));
    border-color: darker(#0055ef);

    border-width: 1px 1px;
}

.trough {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_normal, 0.9)), to(shade(@bg_normal, 1.1)));
}

.scale.trough, .scrollbar.trough {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_active, 0.9)), to(shade(@bg_active, 1.1)));
    border-color: darker(@bg_active);
}

.trough.horizontal {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_active, 0.9)), to(shade(@bg_active, 1.1)));
    border-color: darker(@bg_active);
}

.notebook {
    background-color: #fafaf2;
    border-color: darker(#fafaf2);

    border-width: 1px 1px;
}

.notebook tab, .notebook tab * {
    color: @fg_active;
    background-color: #d4d4ce;
    border-color: darker(#d4d4ce);
}

.notebook tab:active, .notebook tab *:active {
    color: @fg_normal;
    background-color: #fafaf2;
    border-color: darker(#fafaf2);
}

.expander {
    color: @base_normal;
    border-color: @fg_normal;
}

.expander:active {
    color: @base_normal;
    border-color: @fg_normal;
}

.expander:insensitive {
    color: @base_insensitive;
    border-color: @fg_insensitive;
}

.expander:hover {
    color: @fg_prelight;
    border-color: @fg_prelight;
}

.expander:selected {
    color: @base_selected;
    border-color: @fg_selected;
}

GtkComboBox {
    padding: 0px;
}

GtkComboBox .button {
    padding: 1px;
}

.menu {
    background-color: #ffffff;
    border-color: darker(#ffffff);

    border-width: 1px 1px;
}

.menu:active {
    color: #ffffff;
    background-color: #0055ef;
    border-color: darker(#0055ef);
}

.menu:insensitive {
    background-color: #ffffff;
    border-color: darker(#ffffff);
}

.menu:hover {
    color: #ffffff;
    background-color: #0055ef;
    border-color: darker(#0055ef);
}

.menu:selected {
    background-color: @bg_selected;
    border-color: darker(@bg_selected);
}

.menubar {
    border-width: 2px 2px;
}

.menubar:active {
    color: #ffffff;
    background-color: #0055ef;
    border-color: darker(#0055ef);
}

.button {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#fafaf2, 1.1)), to(shade(#fafaf2, 0.9)));
    border-color: darker(#fafaf2);
}

.button:active {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#ffcb39, 0.9)), to(shade(#ffcb39, 1.1)));
    border-color: darker(#ffcb39);
}

.button:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#fafaf2, 1.1)), to(shade(#fafaf2, 0.9)));
    border-color: darker(#fafaf2);
}

.button:hover {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#fafaf2, 1.1)), to(shade(#fafaf2, 0.9)));
    border-color: darker(#fafaf2);
}

.button:selected {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_selected, 0.9)), to(shade(@bg_selected, 1.1)));
    border-color: darker(@bg_selected);
}

.button.horizontal, .scrollbar.slider.horizontal {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#c6d3ff, 1.1)), to(shade(#c6d3ff, 0.9)));
    border-color: darker(#c6d3ff);
}

.button.horizontal:active, .scrollbar.slider.horizontal:active {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_active, 0.9)), to(shade(@bg_active, 1.1)));
    border-color: darker(@bg_active);
}

.button.horizontal:insensitive, .scrollbar.slider.horizontal:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@bg_insensitive, 1.1)), to(shade(@bg_insensitive, 0.9)));
    border-color: darker(@bg_insensitive);
}

.button.horizontal:hover, .scrollbar.slider.horizontal:hover {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#c6d3ff, 1.1)), to(shade(#c6d3ff, 0.9)));
    border-color: darker(#c6d3ff);
}

.button.horizontal:selected, .scrollbar.slider.horizontal:selected {
    color: #000000;
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#efebdf, 0.9)), to(shade(#efebdf, 1.1)));
    border-color: darker(#efebdf);
}

.button.vertical, .scrollbar.slider.vertical {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(#c6d3ff, 1.1)), to(shade(#c6d3ff, 0.9)));
    border-color: darker(#c6d3ff);
}

.button.vertical:active, .scrollbar.slider.vertical:active {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_active, 0.9)), to(shade(@bg_active, 1.1)));
    border-color: darker(@bg_active);
}

.button.vertical:insensitive, .scrollbar.slider.vertical:insensitive {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(@bg_insensitive, 1.1)), to(shade(@bg_insensitive, 0.9)));
    border-color: darker(@bg_insensitive);
}

.button.vertical:hover, .scrollbar.slider.vertical:hover {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(#c6d3ff, 1.1)), to(shade(#c6d3ff, 0.9)));
    border-color: darker(#c6d3ff);
}

.button.vertical:selected, .scrollbar.slider.vertical:selected {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(#efebdf, 0.9)), to(shade(#efebdf, 1.1)));
    border-color: darker(#efebdf);
}

.menuitem {
    border-width: 0px 0px;
}

.menuitem:hover {
    color: #ffffff;
    background-color: #0055ef;
    border-color: darker(#0055ef);
    border-style: none;
}

.menuitem *:hover {
    color: #ffffff;
}

.scale.slider.horizontal {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#efebdf, 1.1)), to(shade(#efebdf, 0.9)));
    border-color: darker(#efebdf);
}

.scale.slider.horizontal:insensitive {
    background-image: -gtk-gradient(linear, left top, left bottom, from(shade(#efebdf, 1.1)), to(shade(#efebdf, 0.9)));
    border-color: darker(#efebdf);
}

.scale.slider.vertical {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(#efebdf, 1.1)), to(shade(#efebdf, 0.9)));
    border-color: darker(#efebdf);
}

.scale.slider.vertical:insensitive {
    background-image: -gtk-gradient(linear, left top, right top, from(shade(#efebdf, 1.1)), to(shade(#efebdf, 0.9)));
    border-color: darker(#efebdf);
}
